In [ ]:
#Name: Anthony Gregorio 
#Date: 3/17/2023 
#Description: Deliverable 8 - Python: Methods

In [1]:
import numpy as np

In [2]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [4]:
n=0
while n<5 or n>15:
 n = int(input("Enter an integer from 5 to 15: "))

 if n<5 or n>15:
   print("That integer is invalid, please enter an integer from 5 to 15: ")

Enter an integer from 5 to 15: 23
That integer is invalid, please enter an integer from 5 to 15:
Enter an integer from 5 to 15: 7

In [5]:
MyList=random_list(n)
MyList

[43, 23, 13, 26, 22, 20, 32]

In [6]:
MySum=sum (MyList)
MySum

179

In [7]:

print ("The elements of the array are: " + ' '.join(str(element) for element in MyList))

The elements of the array are: 43 23 13 26 22 20 32

In [8]:
outputSum=str(MySum)
print("The sum is: "+ outputSum)

The sum is: 179